<div class="about-main">
  <h2>Autoregとは</h2>
  <p>
    登録情報の自動化サービスです。
    プロフィール情報の入力を自動化させて簡単に登録できるものです。
  </p>
  <p>様々な登録の形式に対応しているためこのサイトで1度登録すれば他のサイトでの面倒な入力を省くことができます。</p>
  <img class="about-img" src="スクリーンショット 2019-01-10 8.05.53.png">
  <img class="about-img-mark" src="図1.png">
  <img class="about-img" src="スクリーンショット 2019-01-10 8.04.59.png">
</div>
